<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<servers>
		<server>
			<id>my.anypoint.credentials</id>
			<username>amit-muletraining</username>
			<password>{fly6K97GEgIHWkDGgFRVUwOdtzpQRS7je8H69JlvX0A=}</password>
		</server>
	</servers>
	<plugin>
		<configuration>
			<cloudHubDeployment>
				<server>my.anypoint.credentials</server>
			</cloudHubDeployment>
		</configuration>
	</plugin>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>mule-extra-repos</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>mule-public</id>
					<url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mule-public</id>
					<url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>Mule</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>my.anypoint.credentials</id>
					<name>MuleRepository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
